.item {
  --note-item-padding: var(--size-2);

  inline-size: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--size-2);

  &:last-of-type .main {
    border-block-end: none;
  }
}

.pretab {
  padding: var(--note-item-padding);
  padding-inline-end: var(--note-item-padding);
}

.main {
  padding: var(--size-3);
  padding-inline-start: var(--note-item-padding);
  border-block-end: var(--border-size-1) solid var(--surface-3);
}

.heading {
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-3);
}

.info {
  color: var(--text-2);
}